# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
ENV/
build/
dist/
*.egg-info/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
.env
dist/
coverage/

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
